.App {
  text-align: center;
  background-color: blue;
}
body {
  background-color: #E0EbF1
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.dorky {
  width: 30;
}
.black_box {
     border-color: red;
     border-width: 2px;
     border-style: solid;
     margin: 35px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.MuiButton-root-4 {
   max-height: 100px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

